@using System.Linq;
@using OnlineShop.DataAccess;
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/icomoon/style.css">

    <link rel="stylesheet" href="~/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/style.css">
    <style>
        header {
            background-color: white; /* Set the background color of the header */
            padding: 20px; /* Add some padding for spacing */
            color: white; /* Set the text color to white */
        }
    </style>
    <title></title>
</head>
<body>
    <header>
        <h1>aa</h1>
        <p>aaa</p>
    </header>


    <div class="content">

        <div class="container">
            <h2 class="mb-5">My Orders</h2>


            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>

                            <th scope="col">Mã hóa đơn</th>
                            <th scope="col">Ngày đặt</th>
                            <th scope="col">Tổng giá</th>
                            <th scope="col">Trạng thái</th>                         
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    
                     @foreach(Order item in ViewBag.list){
                    <tbody>
                        <tr scope="row">
                              
                            <td>
                                @item.OrderId
                            </td>
                                <td>@item.OrderDate</td>
                            <td>@item.Total</td>
                            <td><span class="badge badge-info">Confirmed</span></td>
                            <td><a href="/OrderDetail" class="more">Details</a></td>

                        </tr>
                    </tbody>
                    }
                </table>
            </div>


        </div>

    </div>



    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>