<style>
    header {
        background-color: white; /* Set the background color of the header */
        padding: 20px; /* Add some padding for spacing */
        color: white; /* Set the text color to white */
    }
</style>
<title></title>
<body>
    <header>
        <h1>aa</h1>

    </header>

<section class="vh-100" style="background-color: gray;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <p><span class="h2">Order Detail </span><span class="h4"></span></p>

                <div class="card mb-4">
                    <div class="card-body p-4">

                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp"
                                     class="img-fluid" alt="Generic placeholder image">
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Sản phẩm</p>
                                    <p class="lead fw-normal mb-0">iPad Air</p>
                                </div>
                            </div>
                            @*<div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Color</p>
                                    <p class="lead fw-normal mb-0">
                                        <i class="fas fa-circle me-2" style="color: #fdd8d2;"></i>
                                        pink rose
                                    </p>
                                </div>
                            </div>*@
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Số lượng</p>
                                    <p class="lead fw-normal mb-0">1</p>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Giá</p>
                                    <p class="lead fw-normal mb-0">$799</p>
                                </div>
                            </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Total</p>
                                        <p class="lead fw-normal mb-0">$799</p>
                                    </div>
                                </div>
                        </div>

                    </div>
                </div>

                    <div class="card mb-5">
                        <div class="card-body p-4">

                            <div class="float-end">
                                <p class="mb-0 me-5 d-flex align-items-center">
                                    <span class="small text-muted me-2">Order total:</span> <span class="lead fw-normal">$799</span>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="d-flex justify-content-end mb-4">
                        <!-- Add mb-4 class for bottom margin -->
                        <button type="button" class="btn btn-light btn-lg me-2">Back to MyOrder</button>
                        <button type="button" class="btn btn-primary btn-lg">Continue shopping</button>
                    </div>

            </div>
        </div>
    </div>
</section>
</body>